@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/Ubuntu/Ubuntu-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
} 

@font-face {
  font-family: 'UbuntuSansMono';
  src: url('/fonts/Ubuntu_Sans_Mono/static/UbuntuSansMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UbuntuSansMono';
  src: url('/fonts/Ubuntu_Sans_Mono/static/UbuntuSansMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'UbuntuSansMono';
  src: url('/fonts/Ubuntu_Sans_Mono/static/UbuntuSansMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
} */

:root {
  --background: #171721;
  /* --background-light: #1c1824; */
  --foreground: #ffffff;
  /* --primary: #e61720;
  --primary-dark: #9e0b0f;
  --secondary:#0b9e2d;

  --black-button: #2b282e;

  --black-button-light: rgba(28, 24, 36, .40); */

  --line-color: rgba(255, 255, 255, .45);
  --text-color-grey: rgb(160, 160, 160);

  /* --text-copy: rgba(255, 255, 255, .3);

  --text-light: rgba(255, 255, 255, .75);
  
  --text-light-70: rgba(255, 255, 255, .70);

  --border-radius: 0.5rem;
  --button-crop-size: 1rem;

  --max-width: 1200px;

  --transition-duration: 200ms; */
}

body{
  font-family: "Ubuntu Light", sans-serif;
  padding-right: 0px !important;
  overflow: inherit!important;
}

html {
  font-family: 'Ubuntu', sans-serif;
  color-scheme: dark;
  background-color: var(--background);
  color: var(--foreground);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}

button,
textarea,
input {
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: transparent;
  color: var(--foreground);
}

html {
  font-size: 16px;
}

h2 {
  line-height: 1.2;
}

a {
  color: inherit;
  text-decoration: none;
}

span{
  color: var(--foreground);
  font-family: "Ubuntu Light", sans-serif !important;
}

path{
  color: var(--foreground);
}

p{
  color: var(--foreground);
  font-family: "Ubuntu Light", sans-serif;
}

hr {
  width: 100%;
  height: 1px;
  min-height: 1px;
  background-color: var(--line-color);
  margin: 0.5rem 0;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: rgb(160, 160, 160);
}

::-webkit-scrollbar-track {
  background: transparent;
}