.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.spanTitleLine {
  position: absolute;
  width: 100%;
  z-index: -1;
  height: 10px;
  bottom: 2px;
  right: -10px;
  opacity: 0.75;
  background-color: var(--primary);
}
.title {
  position: relative;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 500;
  z-index: 2;
  margin-bottom: 5rem;
}
.proyects{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
@media (min-width: 820px) {
    .proyects{
        gap: 120px;
    }
}
@media (min-width: 1280px) {
    .proyects{
        gap: 150px;
    }
}